name: Build and Deploy Springboot App

on:
  push:
    branches: [ master ]

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17

    - name: Build JAR
      run: mvn clean package -DskipTests

    - name: Azure Login (OIDC)
      uses: azure/login@v2
      with:
        client-id: ${{ secrets.AZURE_CLIENT_ID }}
        tenant-id: ${{ secrets.AZURE_TENANT_ID }}
        subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

    - name: Login to ACR
      run: az acr login --name myacr

    - name: Build & Push Image
      run: |
        TAG=${{ github.sha }}
        docker build -t myacr.azurecr.io/learning:$TAG .
        docker push myacr.azurecr.io/learning:$TAG

    - name: Deploy to Web App
      uses: azure/webapps-deploy@v3
      with:
        app-name: learningdev1s-hcb4h4c0hwcjb9ba
        images: myacr.azurecr.io/learning:${{ github.sha }}
